#account
  profile
    width: 100vw
    padding: 0

    .logo
      flex: 1

      .logo-image
        display: block

    input[type=checkbox]
      display: none

    .settings-header
      display: flex
      flex-direction: row
      align-items: center
      color: $white
      flex: 1
      justify-content: flex-end
      position: relative

      & > *
        margin-left: $spacing

    .settings-menu
      position: absolute
      right: 0
      top: 2rem
      max-height: 0
      transition: max-height $transitionTime ease-in-out
      color: $black
      cursor: pointer

    input:checked ~ .settings-menu
    .settings-button:hover ~ .settings-menu
    .settings-menu:hover
      max-height: 100px

    .columns
      +above($tabletWidth + 1)
        margin: 0 $spacing * -2 $spacing * 4
        align-items: flex-start

        & > *
          margin: 0 $spacing * 2

      +below($tabletWidth + 1)
        & > *
          margin: $spacing * 2 0
          width: 100%

    #coin-count
      flex: 3

      .m-card-body
        text-align: center

    #buy-coins
      flex: 2

      .qr
        text-align: center

      button
        width: 100%

      .pay-with-metamask-button
        height: 4rem
        width: 100%
        margin-top: 10px
        margin-bottom: 10px
        cursor: pointer
        background-image: url(https://github.com/MetaMask/TipButton/raw/master/images/1_pay_mm_off.png)
        background-repeat: no-repeat
        background-size: contain

        &:hover
          background-image: url(https://github.com/MetaMask/TipButton/raw/master/images/1_pay_mm_over.png)

    #transactions
      h3
        width: 100%
        margin: 0

      .m-table
        & > *
          :nth-child(2)
            flex: 2.5
