#index ~
  main
    h1
      color: $hanzoGreen

    .hero
      .column1
        padding-right: $spacing * 4

        +below($phoneWidth)
          padding-right: 0

      .column2
        width: 100%

      .button
      button
        width: 100%
        text-align: center
        height: 6rem
        line-height: 6rem
        margin: $spacing 0

        &.demo
          background-color: $hanzoPurple

          &:after
            content: ''
            width: 1.5rem
            height: 1.5rem
            display: block
            position: absolute
            right: $spacing * 2rem
            top: $spacing * 4.5rem
            background-image: url(/img/arrow-right-white.svg)
            background-repeat: no-repeat

        &.whitepaper
          background-color: $white
          color: $hanzoPurple
          overflow: hidden
          filter: none

          // Force new context to layer text over icons
          span
            position: relative

          &:before
            content: ''
            width: 6rem
            height: 6rem
            display: block
            position: absolute
            left: $spacing * 2
            top: $spacing * 2
            background-image: url(/img/whitepaper-button-icon.svg)
            background-repeat: no-repeat

          &:after
            content: ''
            width: 1.5rem
            height: 1.5rem
            display: block
            position: absolute
            right: $spacing * 2rem
            top: $spacing * 4.5rem
            background-image: url(/img/arrow-right-purple.svg)
            background-repeat: no-repeat

    .bg
      z-index: -1
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

      &:before
        content: ''
        background-color: $hanzoIndigo
        position: absolute
        left: 0
        top: 0
        height: 100%
        width 65vw

      &:after
        content: ''
        background-color: $hanzoGreen
        position: absolute
        right: 0
        top: 0
        height: 100%
        width 35vw

      +below($tabletWidth)
        &:before
          width 100vw

        &:after
          width 0vw

    #how-it-works
      h1
      h3
        color: $hanzoIndigo

      .bg
        &:before
          background-color: $white

      .column1
        color: #263238
        flex: 2
        padding-right: $spacing * 6

        p
          display: flex

          & > *
            display: inline-block

            &:last-child
              margin-left: 2 * $spacing

            &:first-child
              flex: 0 0 3rem

      .column2
        flex: 1
        padding-left: $spacing * 6
        text-align: right

        p
          color: #263238

      +below($tabletWidth)
        h3
          font-size: 2.369em

        flex-direction: column-reverse

        .column1
          padding-right: 0

    .content.green-shrink
      // Simulate the entire content area being green
      background-color: $hanzoGreen
      margin-left: -2 * $spacing
      margin-right: -2 * $spacing
      padding-left: 4 * $spacing
      padding-right: 4 * $spacing
