#index
  main
    h1
      color: $hanzoGreen

    .hero
      .column1
        padding-right: $spacing * 4

        +below($phoneWidth)
          padding-right: 0

      .column2
        width: 100%

      .button
      button
        width: 100%
        text-align: center
        height: 6rem
        line-height: 6rem
        margin: $spacing 0

        &.demo
          background-color: $hanzoPurple

          &:after
            content: ''
            width: 1.5rem
            height: 1.5rem
            display: block
            position: absolute
            right: $spacing * 2rem
            top: $spacing * 4.5rem
            background-image: url(/img/arrow-right-white.svg)
            background-repeat: no-repeat

        &.whitepaper
          background-color: $white
          color: $hanzoPurple
          overflow: hidden
          filter: none

          // Force new context to layer text over icons
          span
            position: relative

          &:before
            content: ''
            width: 6rem
            height: 6rem
            display: block
            position: absolute
            left: $spacing * 2
            top: $spacing * 2
            background-image: url(/img/whitepaper-button-icon.svg)
            background-repeat: no-repeat

          &:after
            content: ''
            width: 1.5rem
            height: 1.5rem
            display: block
            position: absolute
            right: $spacing * 2rem
            top: $spacing * 4.5rem
            background-image: url(/img/arrow-right-purple.svg)
            background-repeat: no-repeat

    .bg
      z-index: -1
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%

      &:before
        content: ''
        background-color: $hanzoIndigo
        position: absolute
        left: 0
        top: 0
        height: 100%
        width 65vw

      &:after
        content: ''
        background-color: $hanzoGreen
        position: absolute
        right: 0
        top: 0
        height: 100%
        width 35vw

      +below($tabletWidth)
        &:before
          width 100vw

        &:after
          width 0vw

    #how-it-works
      z-index: 1
      box-shadow: 1px 2px 1px 0.5px $shadowColor1

      h1
      h3
        color: $hanzoIndigo

      .column1
        p
          display: flex

          & > *
            display: inline-block

            &:last-child
              margin-left: 2 * $spacing

            &:first-child
              flex: 0 0 3rem

      .column2
        p
          color: #263238

      +below($tabletWidth)
        h3
          font-size: 2.369em

        flex-direction: column-reverse

        .column1
          padding-right: 0

    .white-green-bg
      &:before
        background-color: $white

    .white-column
      color: #263238
      flex: 2
      padding-right: $spacing * 6

    .green-column
      flex: 1
      padding-left: $spacing * 8
      text-align: right

      +below($tabletWidth)
        // Simulate the entire content area being green
        background-color: $hanzoGreen
        margin-top: -10vh
        margin-left: -4 * $spacing
        margin-right: -4 * $spacing
        padding-left: 4 * $spacing
        padding-right: 4 * $spacing

    #cutting-edge
      background-color: $grey200

      .column1
        .card
          background-color: $white
          color: $indigo800
          font-size: 1rem

          p
            margin: 0

          &:nth-child(1)
            h4
              color: #1DE2A0
              margin-top: $spacing

          &:nth-child(2)
            h4
              color: #4A90E2
              margin-top: $spacing

          &:nth-child(3)
            h4
              color: #B17BE0
              margin-top: $spacing

      .column2
        h1
          color: $hanzoIndigo

        text-align: right
        color: #263238
        padding-left: $spacing * 4

        +below($tabletWidth)
          padding-left: 0

        p
          display: flex
          justify-content: flex-end
          align-items: center

          & > *
            display: inline-block

            &:last-child
              margin-left: $spacing

            &:first-child
              flex: 0 0 3rem

        a
          color: $hanzoPurple
          text-decoration: none
          display: flex
          justify-content: flex-end
          align-items: center

          h4
            margin: 0 $spacing 0 0

      +below($tabletWidth)
        flex-direction: column-reverse

    #team
      $memberSpacing = 2 * $spacing

      & > *
        justify-content: flex-start

      h1
      h3
        color: $hanzoIndigo

      .column1
        color: $hanzoIndigo
        align-self: flex-start

        .teams
          display: flex
          flex-wrap: wrap
          margin: -1 * $memberSpacing

          .member
            flex: 0 0 'calc(25% - %s)' % (2 * $memberSpacing)
            margin: $memberSpacing

            img
              border-radius: 50%

            p
              margin: 0

          +below($shrinkWidth)
            .member
              flex: 0 0 'calc(33% - %s)' % (2 * $memberSpacing)

          +below($tabletWidth)
            .member.member
              flex: 0 0 'calc(50% - %s)' % (2 * $memberSpacing)

      .column2
        align-self: flex-start

        .advisors
          display: flex
          flex-direction: row

          .advisor
            border-radius: 2px

      +below($tabletWidth)
        .column1
          padding-right: 0

        .column2
          align-self:stretch

          .advisor
            width: 100%

            img
              width: 100%

    #token-sale
      background-color: $hanzoIndigo

      .content
        flex: auto

        h1
          margin-bottom: 0

        .infos
          padding: 4 * $spacing 0
          flex-wrap: wrap

          .info
            h3
              color: $hanzoPink

            +below($shrinkWidth)
              flex: 0 0 50%

          +below($tabletWidth)
            align-items: flex-start
            justify-content: flex-start

        a
          color: $hanzoPurple
          text-decoration: none
          display: flex
          justify-content: flex-start
          align-items: center

          h4
            margin: 0 $spacing 0 0

      .column2
        .sale-graph
          width: 250px
          margin: 0 $spacing * 4
          position: relative

          img
            width: 100%

          p
            width: 100%
            position: absolute
            text-align: center

            &.total
              margin-top: $spacing * 2
              top: 0
              color: $hanzoGreen

            &.percent
              margin-top: $spacing * 2
              top: 25%
