#signup
  .content
    width: 100%

  register
    max-width: 600px
    width: 100%
    margin: 0 auto

    +below($tabletWidth)
      margin-top: 10vh

    // .m-card-header
    // .m-card-body

    recaptcha
      margin: $mSpacing 0

    // .m-card-footer
    //   .m-button
