.columns
  padding-bottom: 0

  & > *
    padding: 10vh 0 15vh

+below($tabletWidth)
  .hero
    &.columns
      & > *
        padding: 0

  section
    min-height: auto

  .columns
    flex-direction: column
