extends /astley.js/src/templates/layout.pug

block style
  include ./_style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero.columns
    .bg
    .content.column1
      h1 Introducing: RYO
      p.
        The RYO token unlocks access to
        Hanzo, a next-generation payments platform. Use RYO to launch
        blockchain nodes, deploy secure smart contracts, query data from the
          blockchain and more.

      p.
        RYO is rocket fuel for blockchain companies.

    .content.column2
      a.button.buy(href='/account')
        | BUY RYO
      a.button.whitepaper(href='https://docs.google.com/document/d/1RtxOlt7V242fXJ_m4ikHRFZFkR6riLHOV55P55rSQtY')
        span READ WHITE PAPER

  // section#how-it-works.columns
  //   .bg.white-green-bg
  //   .content.column1.white-column
  //     h1 How it works
  //     p
  //       img(src='/img/how-it-works-goals.svg')
  //       span Hanzo provides elegant APIs designed to make integration easy.
  //     p
  //       img(src='/img/how-it-works-fund.svg')
  //       span Backers fund creative projects and get updates as milestones are met
  //     p
  //       img(src='/img/how-it-works-perks.svg')
  //       span Backers receive PERK tokens for each project they support and use these for rewards or trade them with other backers for different perks.
  //     p
  //       img(src='/img/how-it-works-rip.svg')
  //       span Failed projects are partially refunded with the RYO. Backers can use RYO to contribute to other projects.
  //     p
  //       img(src='/img/how-it-works-win.svg')
  //       span Successful creators are able to build and grow their business on Hanzo even after their crowdfunding campaign is over, so the community they have built stays with them as they grow their company.
  //   .content.column2.green-column
  //     h3 Who wins and how?
  //     h4 CREATORS
  //     p Creators have access to the most powerful analytics and marketing tools available to crowdfunded products. They are able to leverage these tools and the new, more transparent relationship with backers to build a community that has real buy-in to what they are building.
  //     h4 BACKERS
  //     p Backers get to continue supporting products they are excited about, but without the fear of big failures down the line. They are also brought into details about the development that they wouldn’t otherwise get, which only serves to build their support and excitement about the product.

  section#cutting-edge.columns
    .content.column1
      .card
        img(src='/img/access-commerce.svg')
        h4 PAYMENTS
        p.
          Decentralized businesses deserve truly decentralized payments. Easily
          accept payments with none of the downsides of a centralized platform.
          Experiment with new funding and business models while keeping your
          user's funds safe.
      .card
        img(src='/img/access-analytics.svg')
        h4 SMART CONTRACTS
        p.
          Smart Contracts represent a paradigm shift in payments. Hanzo fully
          embraces Smart Contracts and provides a cutting edge development
          environment and tools for rapid and secure smart contract
          engineering.
      .card
        img(src='/img/access-marketing.svg')
        h4 COMMERCE
        p.
          Hanzo Commerce provides a complete toolkit for building your
          business. Build beautiful shopping experiences, delight your
          customers and scale your brand with influencer and referral programs.
    .content.column2
      h1 Access Hanzo’s cutting&#8209;edge platform
      p.
        Hanzo is a next-generation payments platform powered by Smart Contracts
        designed for developers.
      p
        img(src='/img/cutting-edge-money.svg')
        span POWERED $50 MILLION IN SALES
      p
        img(src='/img/cutting-edge-end-to-end.svg')
        span END-TO-END SOLUTION

      a(href='//hanzo.ai')
        h4 VISIT HANZO
        img(src='/img/arrow-right-purple.svg')

  section#team.columns
    .bg.white-green-bg
    .content.column1.white-column
      h1 Team
      .teams
        .member
          img(src='/img/team-zach.png')
          p ZACH KELLING
          p CEO
        .member
          img(src='/img/team-david.png')
          p DAVID TAI
          p CTO
        .member
          img(src='/img/team-tori.png')
          p TORI BENSON
          p COO
        .member
          img(src='/img/team-tim.png')
          p TIM MESSER
          p VP Engineering
        .member
          img(src='/img/team-kirby.png')
          p KIRBY CHAMBLIN
          p VP Design
        .member
          img(src='/img/team-chip.jpg')
          p CHIP
          p VP Morale
        .member
          img(src='/img/team-quincy.jpg')
          p QUINCY
          p Our 6th President
        .member
          img(src='/img/team-truman.jpg')
          p TRUMAN
          p Just a cute cat

    .content.column2.green-column
      h3(style='text-align: left') We've done this before

      p(style='text-align: left').
        Our team includes experienced entrepreneurs, blockchain developers and
        fintech experts. We've helped launch over two dozen companies,
        generated million in sales and built products used by millions of
        people.

      p(style='text-align: left').
        Our experience launching and growing blockchain companies gives us
        unique insight into the problems faced building decentralized
        businesses. Our collective backgrounds in adtech, blockchain, fintech,
        machine learning, and scalability make us uniquely suited to tackle
        payments.

  section#token.columns
    .content.column1
      h1 RYO Token
      .infos.columns
        .info
          h3 July 1, 2018
          h4 STARTED
        .info
          h3
            view
              | { renderCurrency(data.get('order.currency'),
              | Math.round(data.get('eth.balance') / 1e8) * 1e8) } RYO
          h4 PURCHASED
        .info
          h3 50%
          h4 DISCOUNT
        .info
          h3 ∞
          h4 SUPPLY
      p.
        RYO is an ERC-20 stable token, pegged to USD. Our token contract
        automatically adjusts the price of RYO to accomodate for fluctuations
        in ETH pricing. By using a stable token, we're able to make RYO
        available at a fair price and our platform's pricing stays simple and
        easy to reason about.
      p.
        In addition, RYO is available at a discount (currently: 50%).  We'll
        lower the discount every day until July 1, 2022. After that, RYO will
        be available for $1 USD per token.
      a(href='https://github.com/hanzoai/ryo-token')
        h4 SOURCE CODE
        img(src='/img/arrow-right-purple.svg')
      p
      a(href='//hanzo.ai')
        h4 TERMS AND CONDITIONS
        img(src='/img/arrow-right-purple.svg')
    .content.column2
      .sale-graph
        img(src='/img/ryo-color.png')

block script
  include ./_script.pug

block analytics
  include ./_analytics.pug
