extends /astley.js/src/templates/layout.pug

block style
  include _style.pug

block vars
  - var pageId = 'index'

block content
  hero.hero.columns
    .bg
    .content.column1
      h1 Introducing Ethical Crowdfunding
      p Hanzo repairs the broken relationship between creators and backers by re-writing the social contract of crowdfunding - through smart contracts.
    .content.column2
      a.button.demo(href='/signup')
        | SIGN UP (This is a Demo Site)
      a.button.whitepaper(href='/Hanzo Whitepaper.pdf')
        span READ THE WHITE PAPER

  section#how-it-works.columns
    .bg.white-green-bg
    .content.column1.white-column
      h1 How it works
      p
        img(src='/img/how-it-works-goals.svg')
        span Creators set their own goals and milestones with the smart contract
      p
        img(src='/img/how-it-works-fund.svg')
        span Backers fund creative projects and get updates as milestones are met
      p
        img(src='/img/how-it-works-perks.svg')
        span Backers receive PERK tokens for each project they support and use these for rewards or trade them with other backers for different perks.
      p
        img(src='/img/how-it-works-rip.svg')
        span Failed projects are partially refunded with the RYO. Backers can use RYO to contribute to other projects.
      p
        img(src='/img/how-it-works-win.svg')
        span Successful creators are able to build and grow their business on Hanzo even after their crowdfunding campaign is over, so the community they have built stays with them as they grow their company.
    .content.column2.green-column
      h3 Who wins and how?
      h4 CREATORS
      p Creators have access to the most powerful analytics and marketing tools available to crowdfunded products. They are able to leverage these tools and the new, more transparent relationship with backers to build a community that has real buy-in to what they are building.
      h4 BACKERS
      p Backers get to continue supporting products they are excited about, but without the fear of big failures down the line. They are also brought into details about the development that they wouldn’t otherwise get, which only serves to build their support and excitement about the product.

  section#cutting-edge.columns
    .content.column1
      .card
        img(src='/img/access-commerce.svg')
        h4 COMMERCE
        p Hanzo Commerce allows you to build a brand right from your crowdfunding page.  Communicate with backers and customers your way, our ecommerce site grows with your company so when your campaign is done you’re left with a business, not just a CSV file.
      .card
        img(src='/img/access-analytics.svg')
        h4 ANALYTICS
        p Hanzo Analytics give you actionable insight into your potential backers and customers, and feeds directly into our marketing tools.
      .card
        img(src='/img/access-marketing.svg')
        h4 MARKETING
        p Hanzo Marketing gives you the most powerful tools to build your community. We have tools for ad management, referrals marketing, influencer marketing and much more.
    .content.column2
      h1 Access Hanzo’s cutting&#8209;edge platform
      p Launch your campaign on the most sophisticated crowdfunding platform. We give you the tools to turn your crowdfunded product into a lasting business.
      p
        img(src='/img/cutting-edge-money.svg')
        span $50 MILLION IN PRE-ORDERS
      p
        img(src='/img/cutting-edge-end-to-end.svg')
        span END-TO-END SOLUTION

      a(href='//hanzo.ai')
        h4 VISIT HANZO
        img(src='/img/arrow-right-purple.svg')

  section#team.columns
    .bg.white-green-bg
    .content.column1.white-column
      h1 Our Team
      .teams
        .member
          img(src='/img/team-zach.png')
          p ZACH KELLING
          p CEO
        .member
          img(src='/img/team-david.png')
          p DAVID TAI
          p CTO
        .member
          img(src='/img/team-tim.png')
          p TORI BENSON
          p COO
        .member
          img(src='/img/team-tim.png')
          p TIM MESSER
          p Chief Evangelist
        .member
          img(src='/img/team-kirby.png')
          p KIRBY CHAMBLIN
          p VP Design
        .member
          img(src='/img/team-chip.jpg')
          p CHIP
          p Chip
        .member
          img(src='/img/team-quincy.jpg')
          p QUINCY
          p Our 6th President
        .member
          img(src='/img/team-truman.jpg')
          p TRUMAN
          p Cute Cat
    .content.column2.green-column
      h3 Advisors
      .advisors
        .advisor
          img(src='/img/advisors-lisa.png')
          h4 LISA GANSKY

  section#token-sale.columns
    .content.column1
      h1 Token Sale
      .infos.columns
        .info
          h3 Feb 1, 2018
          h4 STARTED
        .info
          h3 10K ETH
          h4 RAISED
        .info
          h3 5000
          h4 PARTICIPANTS
        .info
          h3 1 Billion RYO
          h4 Token Distribution
      p 1,000,000,000 RYO tokens will be divided and distributed amongst all participants after the contribution period ends. Each participant will receive an allocation proportional to the amount they contributed, relative to the total collected.
      a(href='//hanzo.ai')
        h4 CONTRIBUTION TERMS
        img(src='/img/arrow-right-purple.svg')
    .content.column2
      .sale-graph
        img(src='/img/token-sale-graph.svg')
        p.total 100K ETH CAP
        p.percent 75K ETH

block script
  include _script.pug

block analytics
  include _analytics.pug
